
html {
    overflow-x: hidden;
    /* This is telling the browser to hide anything that goes off the left and right edges of the page, and not let the user scroll to see it. */
}

body {
    width: 100%;
}

h1 {
   text-align: center;
   font-size: 2.5rem;
}

